<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update command </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<!-- 
<table class="table table-dark">
    <thead class="thead-dark">

        <tr>
            <th scope="col">id</th>
            <th>owner</th>
            <th>command</th>
            <th>added time</th>
            <th>update</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        
        {%  for command in commands  %} 
        <tr>
            <td scope="col">{{command.id}}</td>
            <td>{{ command.creator.name }}</td>
            <td>{{command.command_text}}</td>
            <td>{{command.added_at}}</td>
            <td><a href="/commands/update/{{command.id}}/">update</a></td>
            <td><a href="/commands/delete/{{command.id}}/">delete</a></td>
        </tr>

        {% endfor %}

        
    </tbody>
</table> -->

<div style="height: 20px"></div>
<form method="POST" action="{% url 'update_command' %}" >
    
    <div class="form-group">

      <!-- <label >Command Id </label> -->
      <input type="text" class="form-control" id="commandId" name="commandId" value="{{command.id}}" aria-describedby="emailHelp" placeholder="{{command.id}} " required>
      <small id="commandId" class="form-text text-muted">Current command id </small>
      <br>
    </div>

    

    <div class="form-group">
      <!-- <label >Current Command Text</label> -->
      <input type="text" class="form-control" id="commandText" name="commandText"  value="{{command.command_text}}" aria-describedby="commandText" placeholder="{{command.command_text}}" required>
      <small id="commandId" class="form-text text-muted">Current Command Text</small>
      <br>
    </div>

    <div class="form-group">
      <label ></label>
      <input type="text" class="form-control" id="commandTextNew" name="commandTextNew"  aria-describedby="commandText" placeholder="New Command Text " required>
      <small id="commandId" class="form-text text-muted"> </small>
      <br>
    </div>


    <!-- <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button type="submit" a class="btn btn-primary">Update</button>
    <!-- <a href= "{% url 'update_command' %}" class="btn btn-primary btn-lg " type="submit" role="button">Update</a> -->
    
    {% csrf_token %}
</form>
  


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</html>